<%= form_for([@zombie,@twitter]) do |f| %>
  <% if @twitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>

      <ul>
      <% @twitter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.label :zombie_id %><br />
    
    <%= f.number_field :zombie_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_area :tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
