<p id="notice"><%= notice %></p>

<p>
  <b>Zombie:</b>
  <%= @twitter.zombie_id %>
</p>

<p>
  <b>Content:</b>
  <%= @twitter.content %>
</p>

<p>
  <b>Tag:</b>
  <%= @twitter.tag %>
</p>


<%= link_to 'Edit', edit_zombie_twitter_path(@zombie,@twitter) %> |
<%= link_to 'Back', zombie_twitters_path %>
